html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Sets box-sizing to border-box for the entire document */
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column; /* Stack nav and header */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.App-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./images/home-page-background.png'); /* Sets the background image */
  background-size: cover; /* Cover the entire space */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0; /* Override default margins */
  padding: 0;
}

.nav-links li {
  padding: 16px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
}

.get-started-button {
  text-decoration: none;
  color: white; /* Text color */
  background: transparent; /* Make the button background transparent */
  padding: 20px 40px;
  border: 3px solid white; /* Light white border with some transparency */
  border-radius: 50px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 700; /* Bold font weight */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Transition for smooth animation */
}

.get-started-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.8);
  color: #fff;
}

.App-header h1 {
  margin-bottom: 0.5em;
}

.App-header p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.comet-logo {
  height: 69px;
  width: auto;
  margin-right: 20px;
  padding:15px;
}
